<div class="page-area">
    <div class="text-center">
            <h2>Products</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
    </div>
    
    <hr class="md-3">

    <div class="row">
        <div class="col-md-12">
                <div class="card">
                     <img class="card-img-top" src="../../assets/image/laptop.jpg" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title">Laptop</h5>
                          <p class="card-text">Some quick example text to build on the card title</p>
                          <a routerLink="laptop" class="btn btn-success">Know More</a>
                        </div>
                      </div>
                      <div class="card">
                            <img class="card-img-top" src="../../assets/image/tvv.jpg" alt="Card image cap">
                               <div class="card-body">
                                 <h5 class="card-title">Television</h5>
                                 <p class="card-text">Some quick example text to build on the card title</p>
                                 <a routerLink="tv" class="btn btn-success">Know More</a>
                               </div>
                             </div><div class="card">
                                    <img class="card-img-top" src="../../assets/image/wash.jpg" alt="Card image cap">
                                       <div class="card-body">
                                         <h5 class="card-title">Washing Machine</h5>
                                         <p class="card-text">Some quick example text to build on the card title</p>
                                         <a routerLink="wash" class="btn btn-success">Know More</a>
                                       </div>
                                     </div><div class="card">
                                            <img class="card-img-top" src="../../assets/image/mob.jpg" alt="Card image cap">
                                               <div class="card-body">
                                                 <h5 class="card-title">Mobile</h5>
                                                 <p class="card-text">Some quick example text to build on the card title</p>
                                                 <a routerLink="mobile" class="btn btn-success">Know More</a>
                                               </div>
                                             </div>
        </div>

        
    </div>
</div>