
<div class="container">
    <h2 class="text-center">Angular Concepts</h2>
<nav>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a  class="nav-link" routerLinkActive="active" routerLink = "/home">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink = "/list">List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink = "/buy-products">Products</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink = "/reactive">Rxjs</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink = "/material">Material</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" routerLink = "/product">Buy Products</a>
            </li>
  </ul>
</nav>
</div>
<router-outlet></router-outlet>
